* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box {
  display: flex;
  height: calc(100% - 3rem);
  padding: 0 50px;
}

.taiwan_map {
  flex: 1;
}

.detailList {
  // margin-top: 10px;
  display: flex;
  align-items: center;
  flex: 1;
}
.dashboard {
  flex: 1;
  display: flex;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  height: fit-content;
  padding: 15px;
  .wenzi {
    margin-bottom: 15px;
    .returnList {
      position: absolute;
    }
    .citytitle {
      flex: 1;
      font-size: 43px;
    }
  }
  .shaixuan {
    .searchArea {
      font-size: 24px;
      text-align: center;
      line-height: 65px;
      background: azure;
      border-radius: 9px;
      margin-bottom: 15px;
    }
  }
  .card-group {
    .card {
      border: 1px solid #ccc;
      border-radius: 15%;
      margin: 0 5px;
      color: aliceblue;
      flex: 1;
      font-size: 15px;
      align-items: center;
      * {
        margin-bottom: 5px;
      }
      img {
        width: 70%;
      }
      .umbrella {
        width: 32%;
      }
    }
  }
}
