* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box {
  display: flex;
  height: calc(100% - 3rem);
  padding: 0 50px;
}

.taiwan_map {
  flex: 1;
}

.detailList {
  // margin-top: 10px;
  display: flex;
  align-items: center;
  flex: 1;
}
.dashboard {
  flex: 1;
  display: flex;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  height: fit-content;
  padding: 15px;
  .wenzi {
    margin-bottom: 15px;
  }
  .shaixuan {
  }
  .card-group {
    .card {
      color: aliceblue;
      flex: 1;
      align-items: center;
      img {
        width: 70%;
      }
    }
  }
}
