* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box {
  display: flex;
  height: calc(100% - 6rem);
  padding: 0 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.taiwan_map {
  flex: 1;
  // width: 400px;
  position: relative;
  svg {
    width: 520px;
    z-index: 3;
  }
  .weather_data {
    position: absolute;
    top: 40px;
    left: 34px;
    /* width: 100%; */
    height: 94%;
    z-index: 1;
    width: 520px;
    pointer-events: none;
    .icon_zone {
      display: block;
      position: absolute;
      transform: translateX(-50%) translateY(-50%);
      transition: all 0.3s ease-in-out;
      border-radius: 4px;
      color: #010101;

      p {
        color: #000;
      }
      img {
        width: 30px;
        height: 30px;
        display: block;
        margin: 0 auto;
      }
    }

    a[name="Hsinchu_City"] {
      left: 45%;
      top: 14%;
    }
    a[name="Keelung"] {
      left: 84%;
      top: 8%;
    }
    a[name="Taipei_City"] {
      left: 72%;
      top: 17%;
    }
    a[name="New_Taipei_City"] {
      left: 76%;
      top: 4%;
    }
    a[name="Taoyuan_City"] {
      left: 56%;
      top: 8%;
    }
    a[name="Hsinchu_County"] {
      left: 61%;
      top: 28%;
    }
    a[name="Miaoli_County"] {
      left: 47%;
      top: 26%;
    }
    a[name="Taichung_City"] {
      left: 33%;
      top: 29%;
    }
    a[name="Changhua_County"] {
      left: 24%;
      top: 37%;
    }
    a[name="Nantou_County"] {
      left: 55%;
      top: 46%;
    }
    a[name="Yunlin_County"] {
      left: 24%;
      top: 48%;
    }
    a[name="C10049"] {
      left: 49%;
      top: 57%;
    }
    a[name="Chiayi_County"] {
      left: 22%;
      top: 60%;
    }
    a[name="Tainan_City"] {
      left: 28%;
      top: 71%;
    }
    a[name="Kaohsiung_City"] {
      left: 30%;
      top: 84%;
    }
    a[name="Pingtung_County"] {
      left: 45%;
      top: 88%;
    }
    a[name="Yilan_County"] {
      left: 85%;
      top: 28%;
    }
    a[name="Hualien_County"] {
      left: 78%;
      top: 47%;
    }
    a[name="Taitung_County"] {
      left: 65%;
      top: 83%;
    }
    a[name="Penghu_County"] {
      left: -4%;
      top: 59%;
    }
    a[name="Chiayi_City"] {
      left: 30%;
      top: 53%;
    }
    a[name="Kinmen_County"] {
      left: -4%;
      top: 40%;
    }
    a[name="Lienchiang_County"] {
      left: 18%;
      top: 20%;
    }
  }
}

.detailList {
  // margin-top: 10px;
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 520px;
}
.dashboard {
  flex: 1;
  display: flex;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  height: fit-content;
  padding: 15px;
  .wenzi {
    margin-bottom: 15px;
    .returnList {
      position: absolute;
    }
    .citytitle {
      flex: 1;
      font-size: 43px;
    }
  }
  .shaixuan {
    .searchArea {
      font-size: 24px;
      text-align: center;
      line-height: 65px;
      background: azure;
      border-radius: 9px;
      margin-bottom: 15px;
    }
  }
  .card-group {
    .card {
      border: 1px solid #ccc;
      border-radius: 15%;
      margin: 0 5px;
      color: aliceblue;
      flex: 1;
      font-size: 15px;
      align-items: center;
      * {
        margin-bottom: 5px;
      }
      img {
        width: 70%;
      }
      .umbrella {
        width: 32%;
      }
    }
  }
}

@media (max-width: 1100px) {
  .box {
    display: block;
    overflow: auto;

    .taiwan_map {
      
      height: 400px;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      
      .weather_data {
        position: absolute;
        left: 50%;
        /* width: 100%; */
        height: 94%;
        z-index: 4;
        width: 520px;
        pointer-events: none;
        font-size: 14px;
        transform: translateX(-50%) ;
        img {
          width: 20px;
          height: 20px;
          display: block;
          margin: 0 auto;
        }
      }
    }
    .detailList {
      width: 100%;
      display: flex;
      align-items: center;
      flex: 1;
      min-width: 520px;
      li{
        width: 100%;
      }
    }
  }
}
